[Unit]
Description=Notiflut notification deamon
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/opt/notiflut/notiflut_land
